@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

.manrope-gg{
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.rgba-gray {
  color: rgba(5, 19, 29, 0.7);
}
.questrial-regular {
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
}
